<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: base(~{::pageTitle}, ~{::content})}">

<head>
  <title th:fragment="pageTitle">Import from CSV</title>
</head>

<body>
  <th:block th:fragment="content">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Import from CSV</h1>

    <form th:action="@{/import/}" method="post" enctype="multipart/form-data" id="upload-form"
      th:object="${importCSVForm}">
      <p class="text-gray-600 mb-6">
        Please select your CSV format
      </p>

      <select th:field="*{formatOptionId}"
        class="w-full rounded-lg border border-gray-300 bg-white px-3 py-2 pr-10 text-sm shadow-sm focus:outline-none mb-5 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        name="format-selector" id="format-selector">
        <option th:each="item : ${formatOptions}" th:text="${item.name}" th:value="${item.formatId}">
        </option>
      </select>

      <!-- hidden file input -->
      <input type="file" th:field="*{file}" id="file-input" name="file" accept=".csv" class="hidden" />

      <!-- drop zone -->
      <div id="dropzone"
        class="flex flex-col items-center justify-center w-full h-40 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 transition-colors">

        <p class="text-sm text-gray-600">
          <span class="font-semibold">Drag & drop</span> your CSV file here
          or <span class="text-blue-600 underline">click to browse</span>
        </p>
        <p id="file-name" class="mt-2 text-xs text-gray-500">
          No file selected
        </p>
      </div>

      <button type="submit"
        class="mt-4 px-4 py-2 rounded-lg bg-blue-600 text-white text-sm font-medium hover:bg-blue-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
        id="submit-btn" disabled>
        Upload CSV
      </button>
    </form>

    <!-- TABLE PREVIEW -->
    <div class="mt-8" th:if="${transactions != null}">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">All Transactions</h2>

      <!-- Summary cards -->
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6" th:if="${summary != null}">

        <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm">
          <p class="text-xs uppercase text-gray-500 mb-1">Total Transactions</p>
          <p id="summary-total-transactions" class="text-xl font-semibold text-gray-800"
            th:text="${summary.totalTransactions}">
            -
          </p>
        </div>

        <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm">
          <p class="text-xs uppercase text-gray-500 mb-1">Total Income</p>
          <p id="summary-total-amount" class="text-xl font-semibold text-gray-800"
            th:text="${'Rp ' + #numbers.formatDecimal(summary.totalIncome, 0, 'COMMA', 2, 'POINT')}">
            -
          </p>
        </div>

        <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm">
          <p class="text-xs uppercase text-gray-500 mb-1">Total Expenses</p>
          <p id="summary-average-amount" class="text-xl font-semibold text-gray-800"
            th:text="${'Rp ' + #numbers.formatDecimal(summary.totalExpenses, 0, 'COMMA', 2, 'POINT')}">
            -
          </p>
        </div>

        <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm">
          <p class="text-xs uppercase text-gray-500 mb-2 tracking-wide">Cash Flow</p>

          <div class="flex flex-row items-center">
            <p id="summary-max-amount" class="text-xl font-semibold text-gray-800 leading-tight"
              th:text="${'Rp ' + #numbers.formatDecimal(summary.cashFlow, 0, 'COMMA', 2, 'POINT')}">
              -
            </p>
            <p class="ms-2 text-xs text-green-900  text-end"
              th:text="${' (' +#numbers.formatDecimal(summary.cashFlowPercentage, 0, 'COMMA', 2, 'POINT') + '%)'}">
            </p>
          </div>
        </div>

      </div>

      
      <th:block th:insert="~{fragments/filter-fragment :: filterTransactionsForm }" />
      <th:block th:insert="~{fragments/table-fragment :: rowsOnly(${transactions})}" />

    </div>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>

    <script th:src="@{/js/pages/importCSV/table-dropzone.js}"></script>
    <script th:src="@{/js/pages/importCSV/multi-select.js}"></script>
  </th:block>
</body>

</html>