<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finance_tracker.mapper.TransactionMapper">

    <resultMap id="TransactionResultMap" type="com.example.finance_tracker.model.TransactionRecord">
        <id     property="id"               column="id"/>
        <id     property="userId"           column="user_id"/>
        <result property="transactionDate"  column="date"/>
        <result property="amount"           column="amount"/>
        <result property="type"             column="type"/>
        <result property="currency"         column="currency"/>
        <result property="description"      column="description"/>
        <result property="note"             column="note"/>
        <result property="createdAt"        column="created_at"/>
    </resultMap>

    <resultMap id="TransactionRowDtoResultMap" type="com.example.finance_tracker.dto.TransactionRowDto">
        <id     property="id"               column="id"/>
        <result property="date"             column="date"/>
        <result property="amount"           column="amount"/>
        <result property="currency"         column="currency"/>
        <result property="type"             column="type"/>
        <result property="description"      column="description"/>
        <result property="note"             column="note"/>
        <result property="createdAt"        column="created_at"/>
    </resultMap>

    <select id="findAll" resultMap="TransactionResultMap">
        SELECT
        id,
        date,
        amount,
        type,
        currency,
        description,
        note,
        created_at
        FROM transactions
        ORDER BY date DESC, id DESC
    </select>

    <select id="findByUserId" resultMap="TransactionRowDtoResultMap">
        select
        tr.id as id,
        tr.date as date,
        tr.type as transactionType,
        tr.category_id,
        cat.description as category,
        scat.description as subCategory,
        tr.currency as currency,
        tr.note as note,
        tr.amount as amount
        from transactions as tr
        JOIN categories as cat on cat.id = tr.category_id
        LEFT JOIN sub_categories as scat ON scat.id = tr.sub_category_id
        WHERE tr.user_id = #{userId}
    </select>

    <select id="findByDateRange" resultMap="TransactionResultMap">
        SELECT
        id,
        transaction_date,
        amount,
        type,
        description,
        note,
        created_at
        FROM transactions
        WHERE transaction_date BETWEEN #{start} AND #{end}
        ORDER BY transaction_date ASC, id ASC
    </select>

    <insert id="insert"
            parameterType="com.example.finance_tracker.model.TransactionRecord"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO transactions (
        user_id,
        category_id,
        sub_category_id,
        type,
        currency,
        date,
        amount,
        note
        )
        VALUES (
        #{userId},
        #{categoryId},
        #{subCategoryId},
        #{transactionType},
        #{currency},
        #{date},
        #{amount},
        #{note}
        )
    </insert>


</mapper>
